/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.02.2018, 18:05:27
    Author     : Florian
*/
body{
	background-color: black;
	
}
h1{
	color: white;
}

.strecken{
    width: 496px;
    height: 318px;
    margin: 10px 0;
    align-content: center;
    position: relative;

}
#mapB{
	width: 1020px;
	height: 350px;
	frameborder: 0;
	border: 0;
}
.strecken h1{
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
}
.strecken h2{
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
}
p{
	color: white;
}

#str1, #str3{
    float: left;

}
#str2, #str4{
    float: right;
}



#str1 ,#str2 {
    background-image: url("../pictures/andri.jpg");
    background-position: 50% 50%;
    filter: contrast(100%);
    transition: 0.2s;

    background-size: 123%;
}
#str2{
    background-image: url("../pictures/ve2_n.jpg");
    background-position: 50% 50%;
    filter: contrast(100%);
    transition: 0.2s;

    background-size: 100%;
}

#str3{
    background-image: url("../pictures/ve3_n.jpg");
    background-position: 50% 50%;
    filter: contrast(100%);
    transition: 0.2s;

    background-size: 100%;
}

#str4{
     background-image: url("../pictures/ve4_n.jpg");
    background-position: 50% 50%;
    filter: contrast(100%);
    transition: 0.2s;

    background-size: 100%;
}

#str1:hover, #str2:hover, #str3:hover ,#str4:hover{
    filter: contrast(115%);
    background-size: 103%;
    cursor:pointer;
}
#str1:hover{
	background-size: 120%;
}
.hvMe{
    color: black;
    background-color: rgba(255,255,255,0.8);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    padding: 5px 5px;
    width: 20%;
    margin: 8% 40%;

}

.strecken:hover .hvMe{
    visibility: hidden;
    opacity: 0;
}


.dark{
    background-color: grey;
}
#datcont{
    width: 810px;
    height: 300px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 30px;

}
.datum{
    height: 100%;
    width: 220px;
    background-color: transparent;
    border: 5px solid;
    border-color: black;
    float: left;
    margin: 0 20px;

}

.hDat{
    text-align: center;
    font-size: 4em;
    margin: 0;
}


.txtDat{
    text-align: center;
    font-size: 2em;
    color: black;

}

.headerDat{
    background-color: rgb(255,100,100);
    width: 100%;
    color: white;

}

.news{
    width: 100%;
    height: max-content;
    background-color:white;
    box-shadow: 1px 1px 5px gray;
    margin: 10px 0;
    padding: 10px;
    overflow: auto;
}

#mapK{
    display: none;
}

tr:nth-child(odd) {background-color: #fff;}

.table{
    width: 100%;
    overflow-x:auto;
}
table{
    
    margin: 20px 0 40px 0;
    
}

tr{
    
    text-align: center
}
td{
    padding: 20px;
}

#bbc{
	margin:10px 0;
	height: 100px;
	width: 100px;
	background-image: url("../pictures/image003-2.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.aboutu{
	margin: 20px 0;
}

.picab{
	height: 100px;
	width: 100px;
	background-size: 100%;
	border-radius: 100%;
	background-repeat: no-repeat;
}

#riina{
	
	background-image: url("../pictures/port/riina.jpg");
	background-position: 50% -10px;
}

#mara{
	background-image: url("../pictures/port/mara.jpeg");
	background-position: 50% -8px;
}

#nici{
	background-image: url("../pictures/port/nici.jpg");
	background-position: 50% -10px;
}
#flo{
	background-image: url("../pictures/port/flo.jpg");
	background-position: 50% -10px;
}
#andri{
	background-image: url("../pictures/port/andri.jpg");
	
}
#joey{
	background-image: url("../pictures/port/joey.jpg");
}
#simi{
	background-image: url("../pictures/port/simi.jpg");
}

#uebAu{
	margin-top: 70px;
}





@media screen and (max-width : 1024px){
    #str2, #str4{
        float: left;
        
    }
    
    
    #datcont{
        width: 100%;
        height: auto;
    }
    #mapK{
        display: block;
        
    }
    #mapB{
        display: block;
        width: 100%;
    }
    .maiart{
        padding: 5%;
    }
    
}


@media screen and (max-width : 880px){
.datum{
        float: none;
        width: 250px;
        height: 300px;
        margin: 10px auto;

    }
    a:hover{
        text-decoration: none; 
    }
}
@media screen and (max-width : 400px){

}
